@import "docsNav";

$navheight: 5em;

#docs-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: $navheight;
  background: var(--color-background);
}

#docs-nav-overlay {
  display: none;
}

// a 3 column layout
// the left and right column will scroll independently
#docs-main-nav {
  position: fixed;
  top: $navheight;
  left: 0;
  width: 20em;
  height: calc(100vh - $navheight);
  scrollbar-color: var(--color-scrollbar);
  overflow-y: auto;
  background: var(--color-background);
}

#docs-main-article {
  width: 50em;
  margin: auto;
  margin-top: $navheight;
}

#docs-right-slot {
  position: fixed;
  top: $navheight;
  right: 0;
  width: 20em;
  height: calc(100vh - $navheight);
  overflow-y: auto;
}

#docs-footer {
  padding-top: 3em;
  text-align: center;
}

// on mobile the nav and right slot will be hidden
// and the main article will take up the whole screen
// show and hide the nav with the button in the header
@media (max-width: 768px) {
  #docs-nav-overlay {
    display: block;
    float: right;
  }

  #docs-main-nav {
    display: none;

    &.show {
      display: block;
      position: fixed;
      z-index: 2;
      top: $navheight;
      left: 0;
      width: 100%;
      height: calc(100vh - $navheight);
    }
  }

  #docs-right-slot {
    display: none;
  }

  #docs-main-article {
    width: 100%;
  }
}
