#docs-main-article {
  ul {
    padding: 0 1.5rem;

    li {
      padding: 0.5rem 0;
      list-style: disc;
    }
  }

  h1 code {
    font-size: 1.5rem;
  }

  h2 code {
    font-size: 1.3rem;
  }
}

#docs-header {
  sitename {
    margin: 0.2rem 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;

    img {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0.3rem;
      margin-bottom: -0.8rem;
    }
  }
}
