#docs-main-nav {
  padding: 0 2.5rem;

  // main heading in the nav
  h3 {
    margin: 0;
    padding: 0.5rem 0.8rem;
    border-bottom: 3px solid var(--color-text);
    color: var(--color-text);
    font-size: 1.25rem;
    font-weight: bold;
  }

  // sections of the nav
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    // section heading
    li {
      h4 {
        margin: 0;
        margin-top: 1em;
        padding: 0;
        padding-top: 1em;
        padding-bottom: 0.5em;
        color: var(--color-text);
        font-size: 1em;
        font-weight: bold;
      }

      // section item list
      ul {
        // section item
        li {
          color: var(--color-text-light);
          line-height: 1.8em;

          &.selected {
            a {
              background-color: var(--color-hightlight);
            }
          }

          a {
            display: block;
            padding: 0.1em 0.8em;
            color: var(--color-text-light);
            text-decoration: none;
          }

          a:hover {
            color: var(--color-text);
          }
        }
      }
    }
  }
}

#docs-nav-overlay {
  #docs-nav-hamburger {
    margin: 0;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

    rect {
      fill: var(--color-text);
    }
  }
}
